## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(labels=[application_df.columns[0],application_df.columns[1],application_df.columns[3]],axis=1)

application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
#Used this to create a list to ease the copy and past of the values needed to create the list.
app_type_list = application_df['APPLICATION_TYPE'].unique().tolist()
app_type_list

['T10',
 'T3',
 'T5',
 'T7',
 'T4',
 'T6',
 'T2',
 'T9',
 'T19',
 'T8',
 'T13',
 'T12',
 'T29',
 'T25',
 'T14',
 'T17',
 'T15']

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T2','T9','T13','T12','T29','T25','T14','T17','T15','T8','T7','T10']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
#Going to try CLASSIFICATION value counts > 1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C1700','C4000','C5000','C1270','C2700','C2800','C7100','C1300',
                               'C1280','C1230','C1400','C7200','C2300','C1240','C8000','C7120','C1500',
                             'C1800','C6000','C1250','C8200','C1238','C1278','C1235','C1237','C7210',
                             'C2400','C1720','C4100','C1257','C1600','C1260','C2710','C0','C3200','C1234',
                             'C1246','C1267','C1256','C1370','C1236','C2190','C4200','C5200','C1248','C2600',
                             'C1580','C6100','C1820','C1900','C2570','C1570','C3700','C2500','C1283','C2380',
                             'C1732','C1728','C2170','C4120','C8210','C4500','C1245','C2561','C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_data = pd.get_dummies(application_df)
cat_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,CLASSIFICATION_C1000,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
y = cat_data['IS_SUCCESSFUL'].values
X = cat_data.drop('IS_SUCCESSFUL',1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-13-750f19660cd5>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = cat_data.drop('IS_SUCCESSFUL',1).values

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20
hidden_nodes_layer4 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu")
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu")
)

# Fourth hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="leaky_relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 80)                2880

 dense_3 (Dense)             (None, 30)                2430

 dense_4 (Dense)             (None, 20)                620

 dense_5 (Dense)             (None, 20)                420

 dense_6 (Dense)             (None, 1)                 21

=================================================================
Total params: 6,371
Trainable params: 6,371
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6283 - accuracy: 0.6427
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6154 - accuracy: 0.6522
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6133 - accuracy: 0.6536
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6126 - accuracy: 0.6538
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6123 - accuracy: 0.6525
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6110 - accuracy: 0.6560
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6102 - accuracy: 0.6557
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6101 - accuracy: 0.6553
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6094 - accuracy: 0.6552
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6095 - accuracy: 0.6560
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6085 - accuracy: 0.6569
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6086 - accuracy: 0.6550
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6084 - accuracy: 0.6574
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6082 - accuracy: 0.6581
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6073 - accuracy: 0.6581
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6075 - accuracy: 0.6582
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6074 - accuracy: 0.6576
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6069 - accuracy: 0.6579
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6068 - accuracy: 0.6595
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6068 - accuracy: 0.6585
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6066 - accuracy: 0.6583
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6068 - accuracy: 0.6595
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6062 - accuracy: 0.6587
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6061 - accuracy: 0.6582
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6061 - accuracy: 0.6587
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6056 - accuracy: 0.6594
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6057 - accuracy: 0.6595
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6054 - accuracy: 0.6597
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6057 - accuracy: 0.6598
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6053 - accuracy: 0.6586
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6051 - accuracy: 0.6593
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6052 - accuracy: 0.6590
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6052 - accuracy: 0.6604
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6048 - accuracy: 0.6598
Epoch 35/100
804/804 [==============================] - 5s 6ms/step - loss: 0.6048 - accuracy: 0.6601
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6048 - accuracy: 0.6600
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6045 - accuracy: 0.6605
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6047 - accuracy: 0.6604
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6045 - accuracy: 0.6603
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6044 - accuracy: 0.6592
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6042 - accuracy: 0.6607
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6044 - accuracy: 0.6600
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6041 - accuracy: 0.6604
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6036 - accuracy: 0.6606
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6038 - accuracy: 0.6608
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6043 - accuracy: 0.6590
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6038 - accuracy: 0.6597
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6041 - accuracy: 0.6605
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6035 - accuracy: 0.6613
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6037 - accuracy: 0.6604
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6034 - accuracy: 0.6619
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.6606
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6036 - accuracy: 0.6609
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6034 - accuracy: 0.6610
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6034 - accuracy: 0.6606
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.6603
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6033 - accuracy: 0.6616
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6032 - accuracy: 0.6613
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6609
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6607
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6031 - accuracy: 0.6616
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6609
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6030 - accuracy: 0.6613
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6028 - accuracy: 0.6624
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6030 - accuracy: 0.6606
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6030 - accuracy: 0.6610
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6028 - accuracy: 0.6607
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.6615
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6031 - accuracy: 0.6604
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6607
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6616
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.6615
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6609
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6024 - accuracy: 0.6617
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6025 - accuracy: 0.6614
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6600
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6026 - accuracy: 0.6614
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6022 - accuracy: 0.6606
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6023 - accuracy: 0.6609
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6026 - accuracy: 0.6611
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6023 - accuracy: 0.6617
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6020 - accuracy: 0.6616
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6021 - accuracy: 0.6616
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6027 - accuracy: 0.6608
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6022 - accuracy: 0.6622
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.6614
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.6607
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.6616
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6016 - accuracy: 0.6624
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6019 - accuracy: 0.6617
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6018 - accuracy: 0.6609
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6020 - accuracy: 0.6618
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6018 - accuracy: 0.6621
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6018 - accuracy: 0.6614
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6022 - accuracy: 0.6615
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6019 - accuracy: 0.6619
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.6617
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6014 - accuracy: 0.6617
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6020 - accuracy: 0.6617
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.6601

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6143 - accuracy: 0.6567 - 500ms/epoch - 2ms/step
Loss: 0.6142776012420654, Accuracy: 0.6566764116287231

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')